HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea
.vscode
*.iml
*.ipr
*.iws

# Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Node
node_modules/

# Build outputs
dist/
build/

# Env
.env